<ul ng-show="errors.length">
  Error:
  <li ng-repeat="error in errors">
    <span class="text-error">{{error}}</span>
  </li>
</ul>

<ul ng-show="success.length">
  Customer created sucessfully:
  <li ng-repeat="success in success">
    <span class="text-error">{{success}}</span>
  </li>
</ul>

<form ng-submit="createCustomer(name, address)">
  <br>
  Customer name:<br>
  <input ng-model="name" type="text"/>
  <br>
  Customer address:<br>
  <input ng-model="address" type="text"/> <br/><br/>
  <input type="submit" value="Create"/><br/>
</form>
<br><br/>
