<div>
  <h3>Dashboard and Projects</h3>
  TODO: Put a list of latest updates of every project (like a newsfeed)
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.</p>

  <div id="latest-updates" ng-controller="FavoritesCtrl">
    <div class="latest-update-project" ng-repeat="favorite in favoriteProjects">

      <h3>Latest updates in <span class="text-success">{{favorite.name}}</span></h3>

      <p>TODO: Status-Changes here.</p>
    </div>
  </div>

</div>
