<div>
  <h3>Welcome to QUALI-T!</h3>

  <p>Before you can start making better software, you should understand the characteristics of QUALI-T. We strongly
    recommend to read the <a ui-sref="help">help</a> page.
  </p>
  <br/><br/>

  <p>
    Below you can find a screencast. It can help you to get an idea how to work more performant with QUALI-T. Tip: For better resolution, check it in HD.
  </p>
  <iframe src="http://player.vimeo.com/video/130443987" width="100%" height="400px" frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen allowfullscreen style="margin-top: 50px;"></iframe>
</div>
