<div class="jumbotron">
  <h1>QUALI-T</h1>

  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>QUALI-T Backend</h4>

  <p>
    Try to get a json response from the quali-t play backend
    <button ng-click="testBackend()" class="btn btn-success">TEST BACKEND!</button>
    <br/>
    Response:
    <span ng-bind="testBackendResponse.id" ng-show="testBackendResponse.id"></span>
    <span ng-bind="testBackendResponse.description"  ng-show="testBackendResponse.description"></span>
  </p>
</div>
