<div ng-init="init()">
  <h3>QualityProperties</h3>

  <p>Here are all quality properties listed. These properties are used inside projects for each quality attribute.
    Every quality property can be used in the project.
    <br/><br/>
  </p>

  <table class="table table-hover" ng-table="tableParams">
    <tr ng-repeat="qp in $data">
      <td data-title="'Id'" sortable="'id'">
        {{qp.id}}
      </td>
      <td data-title="'Name'" sortable="'name'">
        <div ng-bind-html="qp.name"></div>
      </td>
      <td data-title="'Description'" sortable="'description'">
        <div ng-bind-html="qp.description"></div>
      </td>
      <td data-title="'Actions'">
        <i class="fa fa-pencil pointer" ng-click="edit(qp)"></i>
        <i class="fa fa-trash-o pointer" ng-click="delete(qp)"></i>
      </td>
    </tr>
  </table>

  <div class="form crud-form col-sm-12 margin-top-15">
    <div class="row text-center" style="margin-bottom:20px;">
      <a class="btn btn-success" ng-click="add(qp)">
        <i class="fa fa-plus"></i> Add Qualityproperty
      </a>
    </div>
  </div>
</div>
