<div ng-init="init()">
  <h3>Show all QualityProperties</h3>

  <p>Here are all quality properties listed. These properties are used inside projects for each quality attribute.
    Every quality property can be used in the project.
    <br/><br/>
  </p>

  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="qp in qpList | orderBy:'name'">
      <td>{{qp.id}}</td>
      <td>{{qp.name}}</td>
      <td>{{qp.description}}</td>
      <td>
        <i class="fa fa-pencil pointer" ng-click="edit(qp)"></i>
        <i class="fa fa-trash-o pointer" ng-click="delete(qp)"></i>
      </td>
    </tr>
  </table>
  <div class="form crud-form">
    <div class="row text-center" style="margin-bottom:20px;">
      <button type="submit" class="btn btn-success" ng-click="add(qp)">
        <i class="fa fa-plus"></i> Add QualityProperty
      </button>
    </div>
  </div>
</div>
