<h3>Show all QualityProperties</h3>
<h3 class="steps"></h3>
<div class="form crud-form">
  <div class="row text-center" style="margin-bottom:20px;">
    <button type="submit" class="btn btn-success" ng-click="add(qp)">
      <i class="fa fa-plus"/> Add QualityProperty
    </button>
  </div>
</div>
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="qp in qpList | orderBy:'name'">
    <td>{{qp.id}}</td>
    <td>{{qp.name}}</td>
    <td>{{qp.description}}</td>
    <td>
      <i class="fa fa-trash-o" ng-click="delete(qp)"/>
      <i class="fa fa-cog" ng-click="edit(qp)"/>
    </td>
  </tr>
</table>
</div>
</div>
