<div ng-init="init()">
  <h3>Show all Users</h3>

  <p>Here are all users listed.
    <br/><br/>
  </p>

  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="user in users | orderBy:'id'">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>
        <i class="fa fa-pencil pointer" ng-click="edit(user)"></i>
        <i class="fa fa-trash-o pointer" ng-click="delete(user)"></i>
      </td>
    </tr>
  </table>
  <div class="form crud-form">
    <div class="row text-center" style="margin-bottom:20px;">
      <button type="submit" class="btn btn-success" ng-click="add(user)">
        <i class="fa fa-plus"></i> Add user
      </button>
    </div>
  </div>
</div>
