<!-- build:css(.tmp) styles/extra-styles/welcome.css -->
<link rel="stylesheet" href="styles/extra-styles/home.css">
<!-- endbuild -->

<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>QUALI-T</h1>

          <h3>What is QUALI-T?<br><br></h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a ui-sref="login" class="btn btn-default btn-lg">
                <i class="glyphicon glyphicon-user"></i>
                <span class="network-name">Login</span>
              </a>
            </li>
            <li>
              <a ui-sref="welcome" class="btn btn-default btn-lg">
                <i class="fa fa-home"></i>
                <span class="network-name">Home</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-qualit-evaluate">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Bachelor Thesis</h2>

        <p class="lead">QUALI-T is the webapplication which was designed and built during the Bachelor Thesis of Science
          at <a href="https://www.hsr.ch" target="_blank">HSR</a> (Hochschule für Technik, Rapperswil).</p>

      </div>

    </div>
  </div>
</div>

<div class="about-qualit-templates ng-scope">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Idea behind</h2>

        <p>Software projects are often specified very detailed. This is good. But there is no tool where you can specify
          non-functional requirements (also called quality attributes). </p>

        <p>This was the begin of QUALI-T. We started to analyse non-functional requirements, and specified a way to put
          them into our application. The main advantage is that everything is specified in one place, where others can
          also access.</p>

        <p>Because all data is stored in the same application, there is a new opportunity of providing information in
          relation to other projects. These are statistics like the most used value or the average vale (for
          numbers).</p>

        <p>With the connection to the Issue and Project Management Tool JIRA and the possibility to create Exports (PDF,
          JSON, XML), this tool helps you to <b>make better software from the begin</b>.</p>

        <p> There is also a sub-project where you can create new plug-in like detectors to verifiy a project's quality
          attributes. Check it out here: <a href="https://github.com/team-qualit/fuzziness-detector-api"
                                            target="_blank">Fuzziness Detector API on Github</a>.</p>


      </div>
    </div>
  </div>
</div>

<div class="about-qualit-evaluate ng-scope">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Contributors</h2>

        <p class="lead">Contributors to this project are:
        </p><h5>C. Honegger</h5><h5>E. Avsar</h5>
      </div>
    </div>
  </div>
</div>

<div class="banner">

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2> Make QUALI-T better</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a target="_blank" href="https://github.com/team-qualit/quali-t/" class="btn btn-default btn-lg"><i
              class="fa fa-github fa-fw"></i> <span class="network-name">Fork on Github</span></a>
          </li>

        </ul>
      </div>
    </div>
    <p class="copyright text-muted small">Copyright © QUALI-T Team. All Rights Reserved</p>
  </div>
</div>
