<!-- build:css(.tmp) styles/extra-styles/welcome.css -->
<link rel="stylesheet" href="styles/extra-styles/welcome.css">
<!-- endbuild -->

<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>QUALI-T</h1>

          <h3>Make your software better from the beginning.</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a ui-sref="login" class="btn btn-default btn-lg">
                <i class="glyphicon glyphicon-user"></i>
                <span class="network-name">Login</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">⋅</li>
          <li>
            <a ui-sref="contact">Make QUALI-T better</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright © QUALI-T Team. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
