<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<style type="text/css">
  body,
  html {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8 !important;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  .lead {
    font-size: 18px;
    font-weight: 400;
  }

  .intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(images/welcome-background.jpg) no-repeat center center;
    background-size: cover;
  }

  .intro-message {
    position: relative;
    padding-top: 30%;
    padding-bottom: 30%;
  }

  .intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
    color: #fff;
  }

  .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
  }

  .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    color: #fff;
  }

  @media (max-width: 767px) {
    .intro-message {
      padding-bottom: 15%;
    }

    .intro-message > h1 {
      font-size: 3em;
    }

    ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
    }

    .intro-divider {
      width: 100%;
    }
  }

  .container {
    background-color: transparent;
  }

  footer {
    padding: 50px 0;
    background-color: #f8f8f8;
  }

  p.copyright {
    margin: 15px 0 0;
  }

</style>

<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>QUALI-T</h1>

          <h3>Make your software better from the beginning.</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a ui-sref="login" class="btn btn-default btn-lg">
                <i class="glyphicon glyphicon-user"></i>
                <span class="network-name">Login</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">⋅</li>
          <li>
            <a ui-sref="contact">Make QUALI-T better</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright © QUALI-T Team. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
