<div ng-init="init()">
  <h3><i class="glyphicon glyphicon-list-alt"></i> Catalogs</h3>

  <p>Here are all catalogs listed. Keep in mind that projects which are based on a catalog are decoupled after creating
    process. This means that any changes to the catalog will <b>not</b> affect projects.
    <br><br>
    The standard catalog is not listed below, because it is <i>read only</i> for the users. <br><br>
  </p>

  <table class="table table-hover" ng-table="tableParams">
    <tr ng-repeat="catalog in $data">
      <td data-title="'Id'" sortable="'id'">
        {{catalog.id}}
      </td>
      <td data-title="'Name'" sortable="'name'">
        {{catalog.name}}
      </td>
      <td data-title="'Description'" sortable="'description'">
        {{catalog.description}}
      </td>
      <td data-title="'Actions'">
        <a ui-sref="editCatalog({ catalogId: catalog.id })"
           title="Edit Quality Attribute Template with ID: {{catalogQa.id}}" class="pointer text-black">
          <i class="fa fa-pencil"></i>
        </a>
        <i class="fa fa-trash-o pointer text-default"
           title="Delete Quality Attribute Template with ID: {{catalogQa.id}}"
           ng-click="deleteCatalog(catalog.id)"></i>
      </td>
    </tr>
  </table>

  <div class="form crud-form col-sm-12 margin-top-15">
    <div class="row text-center" style="margin-bottom:20px;">
      <a class="btn btn-success" ui-sref="newCatalog">
        <i class="fa fa-plus"></i> Add Catalog
      </a>
    </div>
  </div>

</div>
