<div ng-init="init()">
  <h3>Show all Projects</h3>

  <h3 class="steps"></h3>
  <table class="table table-hover" ng-table="tableParams">
    <tr ng-repeat="project in $data">
      <td data-title="'Id'" sortable="'id'">
        {{project.id}}
      </td>
      <td data-title="'Name'" sortable="'name'">
        {{project.name}}
      </td>
      <td data-title="'Customer'" sortable="'projectCustomer.name'">
        {{project.projectCustomer.name}}
      </td>
      <td data-title="'Actions'">
        <a ui-sref="editProject({ projectId: project.id })"
           title="Edit Project with ID: {{project.id}}" class="pointer text-black">
          <i class="fa fa-pencil"></i>
        </a>
        <i class="fa fa-trash-o pointer text-default"
           title="Delete Project with ID: {{project.id}}"
           ng-click="deleteProject(project.id)"></i>
      </td>
    </tr>
  </table>

  <div class="form crud-form col-sm-12 margin-top-15">
    <div class="row text-center" style="margin-bottom:20px;">
      <a class="btn btn-success" ui-sref="newProject">
        <i class="fa fa-plus"></i> Add Project
      </a>
    </div>
  </div>

</div>
