<h3>Create new Project</h3>


<div class="form crud-form">
  <form class="form-horizontal" ng-submit="nextStep()">
    <div id="alerts-container"></div>
    <!-- STEP 1 -->
    <div ng-show="currentStep == 1">
      <h3 class="steps">Step 1: Provide general information</h3>

      <div class="form-group">
        <label for="p_name">Project Title</label>
        <input type="text" class="form-control" id="p_name" ng-model="name"/>
      </div>

      <div class="form-group">
        <label for="c_name">Customer</label>
        <select class="form-control" id="c_name" ng-model="customer"
                ng-options="customer.id as customer.name for customer in customerList"/>
      </div>

      <div class="form-group">
        <label>Quality Properties</label>

        <div class="qa well row" ng-repeat="qp in qpList" ng-click="toggleSelection(qp)"
             ng-class="{ selected: selection.indexOf(qp) > -1}"
          >
          <div class="col-sm-10">
            <span class="description" ng-bind-html="qp.description"/>
          </div>
          <div class="col-sm-2">
            <i class="fa fa-check" ng-show="selection.indexOf(qp) > -1"></i>
          </div>
        </div>
      </div>

      <div class="row end-row">
        <button type="submit" class="btn btn-success btn-lg">Choose Catalog and QAs</button>
      </div>
    </div>

    <!-- END STEP 1 -->


    <!-- STEP 2 -->

    <div ng-show="currentStep == 2">
      <button type="button" class="btn btn-sm btn-default" ng-click="back(currentStep)"><i class="fa fa-arrow-left"></i>
        Back
      </button>

      <h3 class="steps">Step 2: Select Catalog and Quality Attributes</h3>

      <div class="form crud-form">
          <div class="form-group">

            <label for="catalog">Catalog</label>

            <select class="form-control" id="catalog" ng-model="catalog" ng-change="loadQAs(catalog)"
                    ng-options="catalog.id as catalog.name for catalog in catalogList"/></div>

          <div class="filter col-sm-4">
            <h5>Filter</h5>
            <filter hide-checkbox="false" callback="filter" categories="catList"></filter>
          </div>

          <div class="all-qas col-sm-8">
            <h5>All Quality Attributes</h5>

            <div class="qa well row" ng-repeat="qa in qaList" ng-click="toggleSelection(qa.qa)"
                 ng-class="{ selected: selection.indexOf(qa.qa) > -1}"
              >
              <div class="categories">
            <span class="label label-default" ng-repeat="category in qa.qa.categories">
              {{category}}
            </span>
              </div>
              <div class="col-sm-10">
                <span class="description" ng-bind-html="qa.qa.description"/>
              </div>
              <div class="col-sm-2">
                <i class="fa fa-check" ng-show="selection.indexOf(qa.qa) > -1"></i>
              </div>
            </div>
          </div>

          <div class="row end-row">
            <button type="submit" class="btn btn-success btn-lg">Create Project and customize QAs</button>
          </div>
      </div>
    </div>
    <!-- END STEP 2 -->
  </form>
</div>



