<div ng-init="init()">
  <div class="text-center favorite-icons">
    <i class="fa fa-star-o pointer" ng-show="!isProjectFavorite"
       title="Favorite this project"
       ng-click="addToFavorites(projectId)"></i>
    <i class="fa fa-star pointer" ng-show="isProjectFavorite"
       title="Unfavorite this project"
       ng-click="removeFromFavorites(projectId)"></i>
  </div>

  <h3>{{project.name}}
    <small> edit</small>
  </h3>

  <div class="col-sm-12">
    <h4 class="steps">Project properties:</h4>

    <div class="form-group col-sm-6">
      <label for="projectName">Project name</label>
      <input id="projectName" ng-model="project.name" type="text" required="required"
             placeholder="Set your project name" class="form-control"/>
    </div>

    <div class="form-group col-sm-6">
      <label for="customerName">Customer</label>
      <ui-select id="customerName" required="required" ng-model="$parent.selectedCustomer" theme="bootstrap"
                 ng-disabled="disabled">
        <ui-select-match placeholder="Select customer...">{{$select.selected.name}}</ui-select-match>

        <ui-select-choices repeat="customer in customerList | filter:$select.search">
          <div ng-bind-html="customer.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group col-sm-6">
      <label>Quality Properties</label>
      <ui-select ng-model="$parent.selectedQualityProperties"
                 multiple theme="bootstrap" ng-disabled="disabled"
                 class="qualityproperties-selection">
        <ui-select-match placeholder="Select quality properties...">{{$item.description}}</ui-select-match>

        <ui-select-choices repeat="qp in qualityPropertiesList | filter:$select.search">
          <div ng-bind-html="'<b>'+qp.name + '</b> - ' + qp.description | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group col-sm-6">
      <label for="jiraKey">JIRA Key</label>
      <input id="jiraKey" type="text" ng-model="project.jirakey" required="required" placeholder="Find in JIRA"
             class="form-control"/>
    </div>
  </div>

  <div class="col-sm-12">
    <h4 class="steps">Quality attributes of this project:
      <button class="btn btn-xs btn-default" type="button" ng-click="addNewQas()">Add more</button>
    </h4>

    <span class="col-sm-12" ng-hide="project.qualityAttributes.length > 0"
          style="padding-bottom: 25px;padding-top: 25px">
      No quality attributes selected for this project.
    </span>

    <div class="qualityattributes col-sm-12" ng-show="project.qualityAttributes.length > 0">
      <div class="col-sm-1">
        <h5 style="margin-top: 40px;" data-trigger="hover" data-type="success"
            data-title="{{tooltipsExport}}"
            bs-tooltip>Export:</h5>
      </div>
      <div class="col-sm-4 pull-right qp-header">
        <div class="col-md-6 row">

          <h5>Quality Properties:</h5>
          <table class="qp-table">
            <tr>
              <th ng-repeat="qp in project.qualityProperties | orderBy:'id'">
              <span data-trigger="hover" data-type="success"
                    data-title="{{qp.name + ' - ' + qp.description}}"
                    bs-tooltip
                    ng-bind="qp.name"></span>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-6 text-right pull-right row">
          <h5>Actions:</h5>
        </div>
      </div>
      <div class="qa qa-nopointer well row" ng-repeat="qa in project.qualityAttributes">
        <qa update-qa-function="init"
            categories="qa.template.categories" qa="qa" context="editproject" variables="qa.template.vars"
            qualityproperties="qa.qualityPropertyStatus" values="qa.values"/>
      </div>
    </div>
  </div>

  <div class="row end-row col-sm-12 text-center">
    <button type="button" ng-click="save()" class="btn btn-success btn-md"
            data-trigger="hover"
            data-type="success" data-title="{{tooltipsSave}}"
            bs-tooltip>Save Project
    </button>

    <button type="button" ng-click="validate()" class="btn btn-success btn-md"
            data-trigger="hover"
            data-type="success" data-title="{{tooltipsValidate}}"
            bs-tooltip>Validate Project
    </button>

    <button type="button" ng-click="exportToIssueTracker()" class="btn btn-success btn-md"
            style="margin-left: 5px;"
            data-trigger="hover"
            data-type="success" data-title="{{tooltipsExportToIssueTracker}}"
            bs-tooltip>Export to issue tracking system
    </button>
  </div>
</div>
