<div ng-init="init()">

  <h3>Categories</h3>

  <p> Browse through categories by clicking on the categories name. You can add new sub-categories, edit or delete them.
    If you want to create a new category without nesting it as a sub-category, use the button <b>Add
      Supercategory</b>
  </p>

  <filter hide-checkbox="true" add-callback="add" edit-callback="edit" delete-callback="delete" categories="catList"/>

  <div class="form crud-form">
    <div class="row text-center" style="margin-bottom:20px;">
      <button type="submit" class="btn btn-success" ng-click="createSuperCat(name, icon)">
        <i class="fa fa-plus"></i> Add Supercategory
      </button>
    </div>
  </div>
</div>
