<div ng-init="loadJIRAConnections()">
  <h3>Show all JIRA Connections</h3>

  <p>Here are all jira connections listed. These properties are used inside projects for exporting quality attributes to
    JIRA.
    You can administrate multiple instances of JIRA applications by providing the hostname, username and password (for
    authentication).
    <br/><br/>
  </p>

  <table class="table table-hover" ng-table="tableParams">
    <tr ng-repeat="jiraconnection in $data">
      <td data-title="'Id'" sortable="'id'">
        {{jiraconnection.id}}
      </td>
      <td data-title="'Hostaddress'" sortable="'hostAddress'">
        <div ng-bind-html="jiraconnection.hostAddress"></div>
      </td>
      <td data-title="'Username'" sortable="'username'">
        <div ng-bind-html="jiraconnection.username"></div>
      </td>
      <td data-title="'Password'" sortable="'password'">
        <div ng-bind-html="jiraconnection.password"></div>
      </td>
      <td data-title="'Actions'">
        <i class="fa fa-pencil pointer" ng-click="edit(jiraconnection)"></i>
        <i class="fa fa-trash-o pointer" ng-click="delete(jiraconnection)"></i>
      </td>
    </tr>
  </table>

  <div class="form crud-form col-sm-12 margin-top-15">
    <div class="row text-center" style="margin-bottom:20px;">
      <a class="btn btn-success" ng-click="add(jiraconnection)">
        <i class="fa fa-plus"></i> Add JIRA Connection
      </a>
    </div>
  </div>
</div>
