<div ng-init="loadJIRAConnections()">
  <h3>Show all JIRA Connections</h3>

  <p>Here are all jira connections listed. These properties are used inside projects for exporting quality attributes to
    JIRA.
    You can administrate multiple instances of JIRA applications by providing the hostname, username and password (for
    authentication).
    <br/><br/>
  </p>

  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Hostaddress</th>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="jiraconnection in jiraConnectionList | orderBy:'id'">
      <td>{{jiraconnection.id}}</td>
      <td>{{jiraconnection.hostAddress}}</td>
      <td>{{jiraconnection.username}}</td>
      <td>{{jiraconnection.password}}</td>
      <td>
        <i class="fa fa-pencil pointer" ng-click="edit(jiraconnection)"></i>
        <i class="fa fa-trash-o pointer" ng-click="delete(jiraconnection)"></i>
      </td>
    </tr>
  </table>

  <div class="form crud-form">
    <div class="row text-center" style="margin-bottom:20px;">
      <button type="submit" class="btn btn-success" ng-click="add(jiraconnection)">
        <i class="fa fa-plus"> Add JIRAConnection</i>
      </button>
    </div>
  </div>
</div>
