<div ng-init="init()">
  <h3><i class="glyphicon glyphicon-grain"></i> Show all Quality Attribute Templates</h3>

  <p>Here are all quality attribute templates listed.
    Each quality attribute template is automatically added to the Standard Catalog. Since these templates can also
    be linked in catalogs, you have to keep in mind that when you change the template there are some checks:
  <ul>
    <li>
      when only options inside variables (ranges, options in dropdowns, default values) change, there will be
      only a change in the <b>Standard Catalog</b>.
    </li>
    <li>
      when the description itself changes, there will be a new version of the template. This means that every catalog
      which has this template inside will get the new version of the template in it. <br/> Projects which have been
      already
      created will <b>not</b> get the updated version of the template and remain the same.
    </li>
  </ul>
  <br/><br/>
  </p>

  <table class="table table-hover" ng-table="tableParams">
    <tr ng-repeat="catalogQa in $data">
      <td data-title="'Id'" sortable="'id'">
        {{catalogQa.id}}
      </td>
      <td data-title="'Description'" sortable="'qa.description'">
        <div ng-bind-html="catalogQa.qa.description"></div>
      </td>
      <td data-title="'Actions'">
        <a ui-sref="editQA({ catalogQa: catalogQa.id })"
           title="Edit Quality Attribute Template with ID: {{catalogQa.id}}" class="pointer text-black">
          <i class="fa fa-pencil"></i>
        </a>
        <i class="fa fa-files-o pointer text-default" title="Clone Quality Attribute Template: {{catalogQa.id}}"
           ng-click="cloneQA(catalogQa.id)"></i>
        <i class="fa fa-trash-o pointer text-default"
           title="Delete Quality Attribute Template with ID: {{catalogQa.id}}"
           ng-click="deleteQA(catalogQa.id)"></i>
      </td>
    </tr>
  </table>

  <div class="form crud-form col-sm-12 margin-top-15">
    <div class="row text-center" style="margin-bottom:20px;">
      <a class="btn btn-success" ui-sref="newQA">
        <i class="fa fa-plus"></i> Add Quality Attribute Template
      </a>
    </div>
  </div>
</div>
