<!-- build:css(.tmp) styles/extra-styles/auth.css -->
<link rel="stylesheet" href="styles/extra-styles/auth.css">
<!-- endbuild -->

<div class="auth-form-container" ng-init="checkAuthNeeded()">
  <form class="auth-form" ng-submit="login(username, password)">
    <img src="images/logo_white.png" class="logo-img">

    <div class="form-inputs">
      <div class="cards">
        <md-content>
          <md-card>
            <md-card-content class="login-part">
              <h2 class="auth-form-heading">Login to QUALI-T</h2>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input ng-model="username"
                       id="input-username"
                       type="email" class="form-control"
                       name="username" placeholder="E-Mail" required="">
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-lock"></i></span>
                <input ng-model="password"
                       id="input-password"
                       type="password" class="form-control"
                       name="password" value="" placeholder="Password" required="">
              </div>

              <button class="btn btn-lg btn-primary btn-block" type="submit" id="button_sign_in">
                Sign In
              </button>

            </md-card-content>
            <md-card-content class="register-part">
              <div>
                New to QUALI-T? <a ui-sref="register">Sign up now!</a>
              </div>
            </md-card-content>
          </md-card>
        </md-content>
      </div>
    </div>
  </form>
</div>
