<!-- build:css(.tmp) styles/extra-styles/auth.css -->
<link rel="stylesheet" href="styles/extra-styles/auth.css">
<!-- endbuild -->

<div class="auth-form-container" ng-init="checkAuthNeeded()">
  <form class="auth-form" ng-submit="register(username, password, passwordRepeated)">
    <img src="images/logo_white.png" class="logo-img">

    <div class="form-inputs">
      <div class="cards">
        <md-content>
          <md-card>
            <md-card-content class="register-part">
              <h2 class="auth-form-heading">Register</h2>

              <div class="register-form" ng-show="registrationDone">
                <span class="text-success">
                Your account was created successfully. You can <a ui-sref="login">log in here!</a>
                us.
                </span>
              </div>
              <div class="register-form" ng-hide="registrationDone">
                <span class="text-warning ng-hide" ng-show="loginFailed">Login failed!</span>

                <div class="errors" ng-show="errors.length">
                  <span class="text-error" ng-repeat="error in errors">{{ error }}</span>
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                         id="input-username"
                         name="username" value="" placeholder="E-Mail" required=""
                         ng-model="username">
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-lock"></i></span>
                  <input type="password" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                         id="input-password"
                         name="password" value="" placeholder="Password" required=""
                         ng-model="password">
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-lock"></i></span>
                  <input type="password" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                         id="input-passwordRepeated"
                         name="passwordRepeated" value="" placeholder="Repeat password" required=""
                         ng-model="passwordRepeated">
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn-register">
                  Register
                </button>
              </div>

            </md-card-content>
            <md-card-content class="register-part">
              <div>
                Already have an account? <a ui-sref="login">Sign in here!</a>
              </div>
            </md-card-content>
          </md-card>
        </md-content>
      </div>
    </div>
  </form>

</div>
