$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootswatch/yeti/variables";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  background-color: transparent !important;
}

.content-container {
  max-width: 1900px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #00BD5B !important;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
  padding: 0px;
}

.main-content {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  padding-bottom: 50px;
}

/* remove outer padding */
.main .row {
  padding: 0px;
  margin: 0px;
}

/* ROLE CHANGER */
#role-changer {
  height: 140px;
  display: none;
  color: #fff;
  text-align: center;

  h1, h2, h3, h4, h5 {
    color: #fff;
    font-weight: bold;
  }
  .role {
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
  }
}

/* SIDEBAR */
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  color: #fff;

  .title {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
  }

  .sidebar-group {
    margin-top: 20px;
  }

  .nav {
    width: 95%;
    li {
      &:hover, &.active {
        background-color: #fff;
        a {
          color: #00BC5C;
        }
      }
      a {
        color: #fff;
        font-size: 14px;
        background-color: transparent;
      }
    }
  }

  .current-location img {
    height: 30px;
  }

  .location-name {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-left: 35px;
  }

  .toggle-roles {
    text-align: right;
    padding-right: 32px;

    .toggle-roles-btn {
      color: #fff;
      font-size: 20px;
      cursor: pointer;

      .fa-angle-up, .fa-angle-down {
        font-size: 14px !important;
        position: absolute !important;
        margin-left: 5px !important;
      }
    }
  }

  .profile {
    .profile-name {
      margin-left: 5px;
    }

    .show-notifications-btn {
      float: right;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}

.toggle-sidebar-btn {
  float: left;
  z-index: 5;
  font-size: 20px;
  margin-right: 15px;
  margin-left: -15px;
  color: #fff;
  padding-right: 5px;
  cursor: pointer;
  position: absolute;
  padding-top: 40%;
  height: 100%;
}

.toggle-sidebar-btn-closed {
  color: #00BB5F;
  padding-left: 5px;
  position: absolute;
  height: 100%;
//  margin-top: -10%;
}

.main-view-opened {
  float: left;
  width: 95%;
  margin-top: 70px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-bottom: 0px !important;
}

.main-view {
  padding: 50px;
  h1, h2, h3, h4, h5 {
    color: #3f3f44;
  }

  h3 {
    font-size: 2em !important;
    &.steps {
      color: #00EC78;
      font-size: 1.75em !important;
    }
  }
}

.search-bar {
  border-bottom: 1px solid #E7E7EC;
  padding: 10px;
  background-color: #F7F7F8;
  margin: 0px;

  input, .input-group-addon {
    color: #BABAC4;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  input {
    border-bottom: #BABAC4 1px solid;
    float: left;
    width: calc(100% - 40px) !important;
    &:focus {
      border-bottom: #BABAC4 1px solid;
      box-shadow: none !important;
      color: #3F3F44;
    }
  }
  .new-icon {
    color: #BABAC4;
    float: right;
    font-size: 20px;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      color: #3F3F44;
    }
  }
}

/*small/medium side display*/
@media (min-width: 768px) {
  /*Allow main to be next to Nav*/
  .main {
    position: absolute;
    width: calc(100% - 40px); /*keeps 100% minus nav size*/
    margin-left: 40px;
    float: right;
  }

}

section {
  padding-left: 15px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;

}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.container {
  background-color: #ffffff;
}

.btn {
  outline: 0;
  border: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  box-shadow: inset 2px -3px rgba(0, 0, 0, 0.15);
  position: relative;
}

.btn:focus {
  outline: 0;
  -webkit-outline: 0;
  -moz-outline: 0;
}

.auth-form-container {
  padding-top: 150px;

  img.logo-img {
    max-height: 90px;
  }

  .auth-form {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .form-inputs {
    margin-top: 20px;
  }

  md-card {
    background-color: #fff;
    border-radius: 4px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .auth-form {
    margin-bottom: 10px;
  }

  .auth-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .auth-form .form-control:focus {
    z-index: 2;
  }

  .auth-form-heading {
    color: #00E789;
    text-align: center;
    margin-bottom: 30px;
  }

  .glyphicon {
    color: #00C36F;
  }

  md-card-content.login-part {
    padding: 20px 30px 20px 30px;
  }

  md-card-content.register-part {
    background-color: #F5F5F5;
    color: #A2A2AE;
    border-radius: 4px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.text-white, .text-white a {
  color: #fff !important;
}

.text-black, .text-black a {
  color: #000 !important;
}

.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0, {
  width: 0 !important;
  display: none;
}

.popover {
  i {
    color: #00E980;
  }
}

.crud-form {
  .end-row {
    text-align: center;
  }
}
