$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootswatch/yeti/_variables.scss";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  background-color: transparent !important;
}

input[disabled], select [disabled] {
  cursor: not-allowed !important;
  background-color: #EEE;
  color: #9E9999;
}

.content-container {
  max-width: 1900px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #00BD5B !important;
  padding: 0px;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }

  .main-view {
    padding: 50px;
    .input-group {
      margin-top: 10px;
    }
  }
}

.main-content {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  padding-bottom: 50px;
}

/* remove outer padding */
.main .row {
  padding: 0px;
  margin: 0px;
}

/* ROLE CHANGER */
#role-changer {
  height: 140px;
  display: none;
  color: #fff;
  text-align: center;

  h1, h2, h3, h4, h5 {
    color: #fff;
    font-weight: bold;
  }
  .role {
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
  }
}

/* SIDEBAR */
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  color: #fff;

  .title {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    & i {
      margin-right: 5px;
    }
  }

  .sidebar-group {
    margin-top: 20px;
  }

  .nav {
    width: 95%;
    li {
      &:hover, &.active {
        background-color: #fff;
        a {
          color: #00BC5C;
        }
      }
      a {
        color: #fff;
        font-size: 14px;
        background-color: transparent;
      }
    }
  }

  .current-location img {
    height: 30px;
  }

  .location-name {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-left: 35px;
  }

  .toggle-roles {
    text-align: right;
    padding-right: 32px;

    .toggle-roles-btn {
      color: #fff;
      font-size: 20px;
      cursor: pointer;

      .fa-angle-up, .fa-angle-down {
        font-size: 14px !important;
        position: absolute !important;
        margin-left: 5px !important;
      }
    }
  }

  .profile {
    .profile-name {
      margin-left: 5px;
    }

    .show-notifications-btn {
      float: right;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}

.toggle-sidebar-btn {
  float: left;
  z-index: 5;
  font-size: 20px;
  margin-right: 15px;
  margin-left: -15px;
  color: #fff;
  padding-right: 5px;
  cursor: pointer;
  position: absolute;
  padding-top: 40%;
  height: 100%;
}

.toggle-sidebar-btn-closed {
  color: #00BB5F;
  padding-left: 5px;
  position: absolute;
  height: 100%;
}

.main-view-opened {
  float: left;
  width: 95%;
  margin-top: 70px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-bottom: 0px !important;
}

.main-view {
  h1, h2, h3, h4, h5 {
    color: #3f3f44;
    &.steps {
      color: #00EC78;
    }
  }

  h3 {
    font-size: 2em !important;
    &.steps {
      color: #00EC78;
      font-size: 1.75em !important;
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }

  form {
    h5 {
      font-weight: bold;
    }
  }
}

.search-bar {
  border-bottom: 1px solid #E7E7EC;
  padding: 10px;
  background-color: #F7F7F8;
  margin: 0px;

  input, .input-group-addon {
    color: #BABAC4;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  input {
    border-bottom: #BABAC4 1px solid;
    float: left;
    width: calc(100% - 40px) !important;
    &:focus {
      border-bottom: #BABAC4 1px solid;
      box-shadow: none !important;
      color: #3F3F44;
    }
  }
  .new-icon {
    color: #BABAC4;
    float: right;
    font-size: 20px;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      color: #3F3F44;
    }
  }
}

.search-results-container {
  margin-top: 30px;

  h4 {
    color: #00BF56;
  }
}

/*small/medium side display*/
@media (min-width: 768px) {
  /*Allow main to be next to Nav*/
  .main {
    position: absolute;
    width: calc(100% - 40px); /*keeps 100% minus nav size*/
    margin-left: 40px;
    float: right;
  }

}

section {
  padding-left: 15px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;

}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.container {
  background-color: #ffffff;
}

.btn {
  outline: 0;
  border: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  box-shadow: inset 2px -3px rgba(0, 0, 0, 0.15);
  position: relative;
}

.btn:focus {
  outline: 0;
  -webkit-outline: 0;
  -moz-outline: 0;
}

.auth-form-container {
  padding-top: 150px;

  img.logo-img {
    max-height: 90px;
  }

  .auth-form {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .form-inputs {
    margin-top: 20px;
  }

  md-card {
    background-color: #fff;
    border-radius: 4px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .auth-form {
    margin-bottom: 10px;
  }

  .auth-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .auth-form .form-control:focus {
    z-index: 2;
  }

  .auth-form-heading {
    color: #00E789;
    text-align: center;
    margin-bottom: 30px;
  }

  .glyphicon {
    color: #00C36F;
  }

  //md-card-content.login-part {
  //  padding: 20px 30px 20px 30px;
  //}
  //
  //md-card-content.register-part {
  //  background-color: #F5F5F5;
  //  color: #A2A2AE;
  //  border-radius: 4px;
  //}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.text-white, .text-white a {
  color: #fff !important;
}

.text-black, .text-black a {
  color: #000 !important;
}

.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0, {
  width: 0 !important;
  display: none;
}

.popover {
  i {
    color: #00E980;
  }
}

.crud-form {
  .end-row {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.text-divided {
  color: #00EC8C !important;
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.pointer {
  cursor: pointer;
}

/** TEXTANGULAR CUSTOMIZATION **/
div[text-angular-toolbar] {
  background-color: #e7e7e7 !important;
  margin-left: 0px !important;
  .btn-group {
    margin-left: 0px;
    &:last-of-type {
      clear: both;
    }
  }
  button {
    box-shadow: none !important;
  }
}

.image-upload-container {
  text-align: center !important;

  input[type='file'] {

    display: inline;
    padding-top: 10px;
  }

}

.qa {
  clear: both;
  cursor: pointer;
  &.well {
    padding-top: 0px;
    background-color: #fff;
    padding-right: 0px;
    border: 1px solid #94F9CE;
  }
  &.editing {
    padding-right: 19px;

    .text-muted {
      font-style: italic;
      & > *:first-child:before {
        content: 'Original Value: ';
      }
    }
  }
  .ta-editor, .ta-scroll-window > .ta-bind {
    min-height: 50px;
  }
  &.selected {
    background-color: #94F9CE;
    .fa-check {
      display: block;
    }
  }
  .categories {
    text-align: right;

    .label {
      margin-right: 3px;
    }
  }
  .description {
    & > * {
      margin-top: 30px;
    }
  }
  .fa-check {
    margin-top: 30px;
    font-size: 22px;
    color: #00893B;
    display: none;
  }
  select {
    width: inherit;
    display: initial;
  }
  .actions {
    margin-top: 25px;
    padding: 0px;
    i {
      margin-right: 5px;
    }
  }
}

.qa-nopointer {
  cursor: initial;
}

.clickable {
  cursor: pointer;
}

#filter {
  .panel-heading {
    .btn-group {
      margin-top: -27px;
    }
    input[type='checkbox'] {
      float: left;
      margin-right: 5px;
    }
  }
  .list-group-item {
    .btn-group {
      margin-top: -5px;
    }
  }
  a {
    width: 100%;
    display: block;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .category-icon {
    font-size: 22px;
    margin-right: 5px;
  }
  ul {
    margin-bottom: 0px;
    li {
      cursor: pointer;
      margin-top: 1px;
      padding-top: 15px;
      input[type="checkbox"] {
        margin-right: 10px;
      }
    }

    &.first-subcategory {
      padding: 0px;
    }
  }
}

.information-box {
  color: #00BF56;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  & > * {
    color: #00BF56;
  }

  i {
    font-size: 26px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.qa-preview {
  padding: 0px 15px 15px;
  margin: 0 -15px 15px;
}

.modal {
  .close {
    color: #000 !important;
  }
  .modal-body {
    margin-bottom: 20px;

    .row {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 15px;
    }
  }
}

.ui-select-match-close {
  color: #000;
}

#alerts-container {
  z-index: 999;
  position: fixed;
  top: 10px;
  right: 10px;

  /** based on: http://red-team-design.com/cool-notification-messages-with-css3-jquery/ */
  .alert {
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    animation: animate-bg 5s linear infinite;
    position: initial;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    strong {
      line-height: 2em;
      display: block;
    }
    span {
      margin-left: -5px;
    }
  }

  .alert-error {
    background-color: #de4343;
    border-color: #c43d3d;
  }
  .warning {
    background-color: #eaaf51;
    border-color: #d99a36;
  }

  .success {
    background-color: #61b832;
    border-color: #55a12c;
  }
}

.add-new-qa {
  margin-top: 30px;
}

.favorite-icons {
  color: #BABAC4;
}

.qp-header {
  padding-bottom: 10px;
  margin-right: -12px;
}

.quality-properties {
  margin-top: 30px;
}

.qp-table {
  th, td {
    min-width: 20px;
  }
}
