<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
          aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" ng-show="type == 'FREENUMBER'">
          Add new free number variable
        </h4>

        <h4 class="modal-title" ng-show="type == 'ENUMTEXT'">
          Add new enumeration (text) variable
        </h4>

        <h4 class="modal-title" ng-show="type == 'ENUMNUMBER'">
          Add new enumeration (number) variable
        </h4>
      </div>
      <div class="modal-body" ng-show="type == 'FREENUMBER'">
        <div class="information-box">
          <span class="text-info">
            <i class="fa fa-info-circle"></i>
            You can set a range for the free number variable if you want to.
            This range gets evaluated when using the quality attribute inside a project.
          </span>
        </div>

        <label> <input type="checkbox" ng-model="useRange"> I want to use a range </label>

        <div class="form" ng-show="useRange">
          <div class="form-input">
            <label for="minValue" class="control-label">Minimum value</label>

            <div>
              <input type="number" ng-model="minValue" class="form-input" id="minValue">
            </div>
          </div>
          <div class="form-input">
            <label for="maxValue" class="control-label">Maximum value</label>

            <div>
              <input type="number" ng-model="maxValue" class="form-input" id="maxValue">
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-default btn-md"
                ng-click="add(editor, savedSelection, type, null, minValue, maxValue, null);$hide()">Add number variable
        </button>


      </div>

      <div class="modal-body" ng-show="type == 'ENUMTEXT'">
        <!-- TODO emre: put a info box which explains how to use the modal view -->
        <div>

          <div>
            <h3>Create your enumeration: </h3>

            <div ng-show="enumList">
              Elements of your enumeration:
              <ul>
                <li ng-repeat="enumElement in enumList">
                  {{enumElement}}
                  <i class="fa fa-trash-o pointer" ng-click="removeFromList(type, enumElement, enumList);"/>
                  <i class="fa fa-pencil"/>
                </li>
              </ul>
            </div>
            <input type="text" ng-model="enumElementText"/>
            <button class="btn btn-default btn-sm" type="button" ng-click="addToList(type, enumElementText, enumList)">
              <i class="fa fa-plus"/> Add
            </button>
          </div>

          <div>
            <h3>Preview in Project mode: </h3>
            <select ng-show="enumList">
              <!-- TODO emre: implement default value if desired -->
              <option value="">Select a value</option>
              <option ng-repeat="enumElement in enumList" value="enumElement">{{enumElement}}</option>
            </select>
          </div>

          <div class="margin-top-50 text-center">
            <button type="button" class="btn btn-default btn-md"
                    ng-click="add(editor, savedSelection, type, enumList, minValue, maxValue, null); $hide()">Add variable to
              quality
              attribute
            </button>
          </div>
        </div>
      </div>

      <div class="modal-body" ng-show="type == 'ENUMNUMBER'">
        Free Number content
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
