<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="EditQaCtrl" ng-init="bindHide($hide)">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-show="context=='editproject'">Edit Quality Attribute (ID {{qa.id}})</h4>
        <h4 class="modal-title" ng-show="context=='editcatalog'">Edit Quality Attribute (ID {{catalogQa.id}})</h4>
      </div>

      <div class="modal-body">
        <div class="row qa-mode text-center" ng-show="context=='editproject'">
          <label for="switchQaEditMode" style="margin-right: 30px;"
                 data-trigger="hover" data-type="success"
                 data-title="{{tooltipsEditMode}}"
                 bs-tooltip>Edit mode:</label>
          <input
            id="switchQaEditMode"
            bs-switch
            ng-model="isTextMode"
            type="checkbox"
            switch-size="small"
            switch-on-text="Text"
            switch-off-text="Variables"
            switch-on-color="default"
            switch-off-color="default"
            />
        </div>

        <div ng-show="!isTextMode">
          <div class="row col-sm-12"><p>Complete the quality attribute with providing project specific values.</p></div>
          <div class="qa qa-nopointer well row ng-scope">
            <qa categories="qa.template.categories" qa="qa" editable="true"
                variables="qa.template.variables" class="row" values="qa.values"/>
          </div>
        </div>

        <div ng-show="isTextMode">
          <div class="row col-sm-12">
            <p ng-show="context=='editproject'">
              Change the quality attribute itself. This will not change the quality attribute
              temlate from the catalog.
            </p>

            <p ng-show="context=='editcatalog'">
              Change the quality attribute itself. This will not change already created instances in projects.
            </p>
          </div>

          <!--NO EDIT OF VARIABLES AVAILABLE IN INSTANCE MODE -->
          <text-angular ta-toolbar="[
              ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
              ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'clear'],
              ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],
              ['html', 'insertImage', 'insertLink', 'wordcount', 'charcount']
              ]" ng-model="qaNew.description" ng-show="context=='editproject'"></text-angular>

          <!--EDIT OF VARIABLES AVAILABLE IN CATALOG MODE -->
          <text-angular ng-model="qaNew.description" ng-show="context=='editcatalog'"/>
        </div>


        <div class="margin-top-50 text-center">
          <button type="button" class="btn btn-default btn-md" ng-click="update()">
            Save Quality Attribute
          </button>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
