<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
          aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" ng-show="type == 'add'">Add new JIRAConnection</h4>
        <h4 class="modal-title" ng-show="type == 'edit'">Edit JIRAConnection {{jiraconnection.id}}
          {{jiraconnection.hostAddress}}</h4>
      </div>

      <div class="modal-body">

        <div class="form crud-form">
          <form>
            <div class="form-group">
              <label for="hostAddress">JIRA Hostaddress</label>
              <input type="text" class="form-control" id="hostAddress" ng-model="jiraconnection.hostAddress" required/>

              <label for="username">username</label>
              <input type="text" class="form-control" id="username" ng-model="jiraconnection.username" required/>

              <label for="password">password</label>
              <input type="text" class="form-control" id="password" ng-model="jiraconnection.password" required/>
            </div>

            <button type="submit" class="btn btn-success" ng-show="type == 'add'"
                    ng-click="callBackFunction(jiraconnection); $hide()">
              <i class="fa fa-plus"></i> Add
              JIRAConnection
            </button>
            <button type="submit" class="btn btn-success" ng-show="type == 'edit'"
                    ng-click="callBackFunction(jiraconnection); $hide()">
              <i class="fa fa-plus"></i> Save
              JIRAConnection
            </button>
          </form>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
