<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>

      <div class="modal-body">
        Here are some search results:

        <div class="search-results-container" id="search-results-projects">
          <h4>Projects:</h4>

          <div class="information-box" ng-hide="searchResults.projects">
            <span class="text-info">
              <i class="fa fa-error-circle"/>
              No projects were found.
            </span>
          </div>

          <div ng-show="searchResults.projects">
            <ul>
              <li ng-repeat="project in searchResults.projects">
                {{ project.name }}
              </li>
            </ul>
          </div>
        </div>

        <div class="search-results-container" id="search-results-catalogs">
          <h4>Catalogs:</h4>

          <div class="information-box" ng-hide="searchResults.catalogs">
            <span class="text-info">
              <i class="fa fa-error-circle"/>
              No catalogs were found.
            </span>
          </div>

          <div ng-show="searchResults.catalogs">
            <ul>
              <li ng-repeat="catalog in searchResults.catalogs">
                {{ catalog.name }}
              </li>
            </ul>
          </div>
        </div>

        <div class="search-results-container" id="search-results-qas">
          <h4>Quality Attributes:</h4>

          <div class="information-box" ng-hide="searchResults.qualityAttributes">
            <span class="text-info">
              <i class="fa fa-error-circle"/>
              No quality attributes were found.
            </span>
          </div>

          <div ng-show="searchResults.qualityAttributes">
            <ul>
              <li ng-repeat="qualityAttribute in searchResults.qualityAttributes">
                <span ng-bind-html="qualityAttribute.description"/>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
