<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>

      <div class="modal-body">
        <div
          ng-hide="searchResults.projects.length > 0 || searchResults.customers.length > 0 || searchResults.catalogs.length > 0 || searchResults.qualityAttributes.length > 0">
          <i class="fa fa-exclamation-circle"/>
          Nothing was found.
        </div>

        <div
          ng-show="searchResults.projects.length > 0 || searchResults.customers.length > 0 || searchResults.catalogs.length > 0 || searchResults.qualityAttributes.length > 0">

          <div class="search-results-container" id="search-results-projects">
            <h4>Projects:</h4>

          <span ng-hide="searchResults.projects.length > 0">
            <i class="fa fa-exclamation-circle"/>
            No projects attributes were found.
          </span>

            <div ng-show="searchResults.projects">
              <ul>
                <li ng-repeat="project in searchResults.projects">
                  <a ui-sref="editProject({ projectId: project.id })" ng-click="$hide()"> {{ project.name }}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="search-results-container" id="search-results-customers">
            <h4>Customers:</h4>

          <span ng-hide="searchResults.customers.length > 0">
            <i class="fa fa-exclamation-circle"/>
            No customers were found.
          </span>

            <div ng-show="searchResults.customers">
              <ul>
                <li ng-repeat="customer in searchResults.customers">
                  {{ customer.name }}
                </li>
              </ul>
            </div>
          </div>

          <div class="search-results-container" id="search-results-catalogs">
            <h4>Catalogs:</h4>

          <span ng-hide="searchResults.catalogs.length > 0">
            <i class="fa fa-exclamation-circle"/>
            No catalogs attributes were found.
          </span>

            <div ng-show="searchResults.catalogs">
              <ul>
                <li ng-repeat="catalog in searchResults.catalogs">
                  {{ catalog.name }}
                </li>
              </ul>
            </div>
          </div>

          <div class="search-results-container" id="search-results-qas">
            <h4>Quality Attributes:</h4>

          <span ng-hide="searchResults.qualityAttributes.length > 0">
            <i class="fa fa-exclamation-circle"/>
            No quality attributes were found.
          </span>

            <div ng-show="searchResults.qualityAttributes.length > 0">
              <ul>
                <li ng-repeat="qualityAttribute in searchResults.qualityAttributes">
                  <span ng-bind-html="qualityAttribute.description"/>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
